*.egg-info
*.pyc
*.pyo
*.sqlite
*.~*
*credentials.*
.cache
.coverage
.idea
.tox
/contacts.json
/dist
/media
/offices.json
__pycache__
CACHE
celerybeat-schedule
coverage.xml
djcelery.schedulers.DatabaseScheduler
LOCAL
local.yaml
pytest.xml
settings_local.py
~*
